.ms-container h1{
  font-size: 24px;
  margin: 0;
  padding: 5px;
}

.ms-container h2{
  margin: 20px 0px 10px 0px;
}

.ms-container h3{
  color: #555;
}

.ms-container h4{
  margin: 0;
  padding: 3px;
  text-align: center;
}

.ms-container ul{
  margin: 0px 0px 0px 20px;
  padding: 0;
  color: #666;
}

.ms-container table{
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.ms-container th{
  text-align: left;
  border: 1px #eee solid;
  border-bottom: 1px #ddd solid;
  padding: 5px 10px;
  background: -moz-linear-gradient(top,#F9F9f9 0%,#EFEFEF 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F9F9F9),color-stop(100%,#EFEFEF));
}

.ms-container td{
  border: 1px #eee solid;
  padding: 10px;
  color: #777;
}

.ms-container td:first-child{
  color: #333;
}


#page{
  background-color: #fff;
  width: 960px;
  margin: 0px auto;
  border-left: 1px #aaa solid;
  border-right: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  padding: 10px 30px 100px 30px;
  margin-bottom: 50px;
  box-shadow:         0px 0px 40px rgba(0,0,0,.25);
  -webkit-box-shadow: 0px 0px 40px rgba(0,0,0,.25);
  -moz-box-shadow:    0px 0px 40px rgba(0,0,0,.25);
}

ul#menu{
  margin: 0 0px 20px 0px;
  padding: 0px 0px 10px 0px;
  list-style-type: none;
  border-bottom: 1px #eee solid;
}

ul#menu li{
  color: #999;
  margin-right: 5px;
  padding: 0;
  float: left;
  font-size: 14px;
}

ul#menu li#fork-me{
  float: right;
  margin-right: 9px;
  font-size: 13px;
  font-style: italic;
}

ul#menu li a{
  text-decoration: none;
}

ul#menu li a:hover, ul#menu li.active a{
  text-decoration: underline;
}

#demo{
  margin-right: -30px;
  float: right;
  background: #eee;
  padding: 40px 40px;
  border-radius:         4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius:    4px 0px 0px 4px;
  -khtml-border-radius:  4px 0px 0px 4px;
  border: 1px #ddd solid;
}

ul#features{
  list-style-image: url('../img/check.gif');
  margin: 30px 0px 40px 20px;
}

ul#features li{
  margin-top: 5px;
}


#demos-container{
}

ul#menu:after,
#demos-content:after,
#demos-container:after{ content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }

ul#demos-menu{
  width: 130px;
  float: left;
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

ul#demos-menu li{
  padding: 3px 10px;
  border-radius:         4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius:    4px 0px 0px 4px;
  -khtml-border-radius:  4px 0px 0px 4px;
  color: #777;
}

ul#demos-menu li.active, ul#demos-menu li.active:hover{
  background: #999;
  color: #fff;
}


ul#demos-menu li:hover{
  background: #bbb;
  color: #fff;
  cursor: pointer;
}

#demos-content{
  float: right;
  width: 788px;
  min-height: 400px;
  padding: 20px;
  border: 1px #ddd solid;
  background: #eee;
  border-radius:         4px;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  -khtml-border-radius:  4px;
}