.module:after{clear:both;content:".";display:block;height:0;visibility:hidden}
* html .module{height:1%;overflow:visible}
* + html .module{min-height:1%}
.breadCrumb{display:block;height:21px;overflow:hidden;border:solid 1px #e9e9e9;background:#fff;margin:0 0 20px;padding:5px;background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;}
.breadCrumb ul{height:21px;display:block;margin:0;padding:0 0 0 6px}
.breadCrumb ul li{display:block;float:left;position:relative;height:21px;overflow:hidden;line-height:21px;font-size:.9167em;background:url(/assets/ChevronOverlay.png) no-repeat 100% 0;margin:0 6px 0 0;padding:0 10px 0 0}
.breadCrumb ul li div.chevronOverlay{position:absolute;right:0;top:0;z-index:2}
.breadCrumb ul li span{display:block;overflow:hidden}
.breadCrumb ul li a{display:block;position:relative;height:21px;line-height:21px;overflow:hidden;float:left}
.breadCrumb ul li.first {padding-right:12px;opacity:0.6}
.breadCrumb ul li.last{background:none;margin-right:0;padding-right:0}
.chevronOverlay{display:none;background:url(/assets/ChevronOverlay.png) no-repeat 100% 0;width:13px;height:20px}