<div class="row-fluid">
  <div class="span12">
    <h3 class="heading">Envio de imagens</h3>
    <div id="multi_upload" class="gebo-upload">
      <p>You browser doesn't have Flash, Silverlight or HTML5 support.</p>
    </div>
  </div>
</div>