<div class="row-fluid">
  <div class="span6">
    <%= f.input :rooms, input_html: {placeholder: 'Ex.: 2 quartos de fundo, 1 suíte, 1 quarto de hóspede'} %>
  </div>
  <div class="span6">
    <%= f.input :bathrooms, input_html: {placeholder: 'Ex.: 3 banheiros, 1 suíte, 2 lavabos'} %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :terrain_area, :wrapper => :prepend do %>
      <span class="add-on">m²</span><%= f.text_field :terrain_area, class: 'currency', value: f.object.terrain_area.to_s %>
    <% end %>
  </div>
  <div class="span6">
    <%= f.input :build_area, :wrapper => :prepend do %>
      <span class="add-on">m²</span><%= f.text_field :build_area, class: 'currency', value: f.object.build_area.to_s %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :fireplace, input_html: {class: nil} %>
    <%= f.input :pool, input_html: {class: nil} %>
    <%= f.input :gated, input_html: {class: nil} %>
    <%= f.input :bbq_area, input_html: {class: nil} %>
    <%= f.input :kennel, input_html: {class: nil} %>
    <%= f.input :dependencies, input_html: {class: nil} %>
    <%= f.input :homemade_house, input_html: {class: nil} %>
    <%= f.input :turkish_bath, input_html: {class: nil} %>
    <%= f.input :game_room, input_html: {class: nil} %>
  </div>
</div>
