<%= simple_nested_form_for(@company, html: {class: 'form-horizontal'}) do |f| %>

 <fieldset>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :company, input_html: {value: @company.id == current_company.id ? 'Você já está na sede' : current_company.name, disabled: true} %>
    </div>
    <div class="span6">
    <%= f.input :name %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :url, as: :string %>
    </div>
    <div class="span6">
    <%= f.input :logo, hint: file_hint(@company.logo_file_name) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :address_zipcode %>
    </div>
    <div class="span6">
    <%= f.input :address %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :address_number %>
    </div>
    <div class="span6">
    <%= f.input :address_complement %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :address_neighborhood %>
    </div>
    <div class="span6">
    <%= f.input :address_city %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%= f.input :address_state, collection: state_options %>
    </div>
    <div class="span6">
      <%= f.input :address_country, as: :string, input_html: {value: 'Brasil', disabled: :disabled} %>
    </div>
  </div>
  <h3 class="heading">Redes sociais</h3>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :twitter %>
    </div>
    <div class="span6">
    <%= f.input :twitter_logo, hint: file_hint(@company.twitter_logo_file_name) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :facebook %>
    </div>
    <div class="span6">
    <%= f.input :facebook_logo, hint: file_hint(@company.facebook_logo_file_name) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :google_plus %>
    </div>
    <div class="span6">
    <%= f.input :google_plus_logo, hint: file_hint(@company.google_plus_logo_file_name) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :linkedin %>
    </div>
    <div class="span6">
    <%= f.input :linkedin_logo, hint: file_hint(@company.linkedin_logo_file_name) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :skype %>
    </div>
    <div class="span6">
    <%= f.input :skype_logo, hint: file_hint(@company.skype_logo_file_name) %>
    </div>
  </div>

  <h3 class="heading">Informações adicionais</h3>
  <div class="row-fluid">
    <div class="row12">
      <%= f.fields_for :company_details do |company_detail_form| %>
        <div class="row12" style="margin-bottom:5px">
          <%= company_detail_form.collection_select :detail_id, Detail.order(:name), :id, :name, {}, class: 'detail' %>
          <%= company_detail_form.text_field :value, class: 'value' %>
          <%= company_detail_form.link_to_remove "Remover esta Informação", class: 'btn btn-mini btn-danger' %>
        </div>
      <% end %>
      <p><%= f.link_to_add "Nova Informação Adicional", :company_details, class: 'btn btn-mini btn-reverse' %></p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to t('back_list'), {action: :index}, class: 'btn' %>
  </div>
</fieldset>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
  $('.detail').live('change', function(){
    var option = $(this).find('option:selected').text()
    $(this).next('.value').val('')
    if(option.indexOf('Telefone') != -1 || option.indexOf('Celular') != -1){
      $(this).next('.value').inputmask("(99) 9999-9999[9]");
    }else{
      $(this).next('.value').inputmask('remove')
    }
  })

  $('.detail').each(function(){
    var option = $(this).find('option:selected').text()
    if(option.indexOf('Telefone') != -1 || option.indexOf('Celular') != -1){
      $(this).next('.value').inputmask("(99) 9999-9999[9]");
    }else{
      $(this).next('.value').inputmask('remove')
    }
  })
})
</script>
