<h2 class="heading"><%=t('breadcrumbs.companies.index')%>
<div class="pull-right"><%= link_to t('new'), new_company_path, class: 'btn btn-mini btn-inverse' %></div>
</h2>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-bordered table-condensed dTableR" id="companyTableList">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= Company.human_attribute_name(:name)%></th>
          <th><%= Company.human_attribute_name(:users)%></th>
          <th><%= Company.human_attribute_name(:real_estates)%></th>
          <th><%= Company.human_attribute_name(:master)%></th>
          <th width="300"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  var companyTableData = []
  <% @companies.each do |company| %>
    companyTableData.push(["<%=company.id%>",
      "<%=j company.name%>",
      "<%= company.users.count %>",
      "<%= company.real_estates.count %>",
      "<%= company.master? ? t('yes') : t('no') %>",
      "<%=j (link_to(t('show'), company, class: "btn btn-mini").html_safe + ' ' +
            link_to(t('edit'), edit_company_path(company), class: "btn btn-mini").html_safe + ' ' +
            link_to(t('delete'), company, method: :delete, data: { confirm: t('confirm') }, class: "btn btn-mini btn-danger").html_safe) %>"
      ])
  <% end %>

  $(document).ready(function(){
    $('#companyTableList').dataTable({
      "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap_alt",
      "oLanguage": {
        "sUrl": "/datatable/i18n"
      },
      "aaSorting": [[ 0, "desc" ]],
      "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 5 ] }],
      "aaData": companyTableData,
      "aoColumns": [
        { "sClass": "center" },
        { },
        { },
        { },
        { },
        { "sClass": "center" }
      ]
    })
  });
</script>
