<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :remote => true, :html => { :method => :post, :id => "pass_form", :style => "display: none" }) do |f| %>
  <div class="top_b">ForAll Imobiliária - <%=t('forgot_password')%></div>
  
  <%= content_tag(:div,
    t('give_email_to_retrive_password'), :class => "alert fade in alert-info alert-login") %>

  <div class="cnt_b">
    <div class="formRow clearfix">
      <div class="input-prepend">
        <span class="add-on">@</span><%= f.text_field :email, :placeholder => "E-mail" %>
      </div>
    </div>
  </div>
  <div class="btm_b tac">
    <%= f.submit t('request_new_password'), :disable_with => t('sending'), :class => "btn btn-inverse" %>
  </div>
<% end %>
<style type="text/css">
div.field_with_errors{
  display:inline;
}
</style>