<%%= simple_form_for(@<%= singular_table_name %>, html: {class: 'form-horizontal'}) do |f| %>
  <%%= f.error_notification %>

 <fieldset>
  <%- attributes.each do |attribute| -%>
  <div class="row-fluid">
    <div class="span12">
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
    </div>
  </div>
  <%- end -%>

  <div class="form-actions">
    <%%= f.button :submit, class: "btn-primary" %>
  </div>
</fieldset>
<%% end %>
