<%= simple_nested_form_for(@user, url: (@user.new_record? ? company_users_path : company_user_path(@user)), html: {class: 'form-horizontal'}) do |f| %>
 <fieldset>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :company_id, collection: companies_options %>
    </div>
    <div class="span6">
    <%= f.input :user_type, collection: user_type_options, include_blank: false %>
  </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :name %>
    </div>
    <div class="span6">
    <%= f.input :email, input_html: {disabled: !@user.new_record?} %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :phone %>
    </div>
    <div class="span6">
    <%= f.input :mobile_phone %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :password %>
    </div>
    <div class="span6">
    <%= f.input :password_confirmation %>
    </div>
  </div>
  <% if current_user.master? %>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :master %>
    </div>
  </div>
  <% end -%>
  <h3 class="heading">Informações adicionais</h3>
  <div class="row-fluid">
    <div class="row12">
      <%= f.fields_for :user_details do |user_detail_form| %>
        <div class="row12" style="margin-bottom:5px">
          <%= user_detail_form.collection_select :detail_id, Detail.order(:name), :id, :name, {}, class: 'detail' %>
          <%= user_detail_form.text_field :value, class: 'value' %>
          <%= user_detail_form.link_to_remove "Remover esta Informação", class: 'btn btn-mini btn-danger' %>
        </div>
      <% end %>
      <p><%= f.link_to_add "Nova Informação Adicional", :user_details, class: 'btn btn-mini btn-reverse' %></p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to t('back_list'), {action: :index}, class: 'btn' %>
  </div>
</fieldset>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
  $('.detail').live('change', function(){
    var option = $(this).find('option:selected').text()
    $(this).next('.value').val('')
    if(option.indexOf('Telefone') != -1 || option.indexOf('Celular') != -1){
      $(this).next('.value').inputmask("(99) 9999-9999[9]");
    }else{
      $(this).next('.value').inputmask('remove')
    }
  })

  $('.detail').each(function(){
    var option = $(this).find('option:selected').text()
    if(option.indexOf('Telefone') != -1 || option.indexOf('Celular') != -1){
      $(this).next('.value').inputmask("(99) 9999-9999[9]");
    }else{
      $(this).next('.value').inputmask('remove')
    }
  })
})
</script>
