<h2 class="heading">
  <%=t('breadcrumbs.company_users.show')%>
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to t('print'), 'javascript:window.print()', class: 'btn btn-mini btn-inverse' %>
      <%= link_to t('edit'), url_for(action: :edit, id: params[:id]), class: 'btn btn-mini' %>
      <%= link_to t('back_list'), url_for(action: :index), class: 'btn btn-mini' %>
    </div>
  </div>
</h2>

<div class="row-fluid">
  <div class="span4">
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><strong>Código</strong></span>
          <div class="vcard-item"><strong><%= @user.id %></strong></div>
        </li>
        <li>
          <span class="item-key"><strong><%= Company.human_attribute_name(:name) %></strong></span>
          <div class="vcard-item"><strong><%= @user.name %>&nbsp;</strong></div>
        </li>
        <li>
          <span class="item-key"><%= User.human_attribute_name(:company) %></span>
          <div class="vcard-item"><%= @user.company.name %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= User.human_attribute_name(:master_company) %></span>
          <div class="vcard-item"><%= @user.master_company.name %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= User.human_attribute_name(:user_type) %></span>
          <div class="vcard-item"><%= @user.user_type_full_text %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= User.human_attribute_name(:email) %></span>
          <div class="vcard-item"><%= @user.email %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= User.human_attribute_name(:phone) %></span>
          <div class="vcard-item"><%= @user.phone %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= User.human_attribute_name(:mobile_phone) %></span>
          <div class="vcard-item"><%= @user.mobile_phone %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= User.human_attribute_name(:master) %></span>
          <div class="vcard-item"><%= @user.master ? t('yes') : t('no') %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <strong>Informações Adicionais</strong>
        </li>
        <li>
          <ul class="unstyled sepH_b item-list">
            <% @user.user_details.each do |user_detail| %>
            <li>
              <a href="#"><%=user_detail.detail.name %>:</a> 
              <%=user_detail.value%>
            </li>
            <% end -%>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <strong>Últimas Ações</strong>
        </li>
        <li>
          <ul class="unstyled sepH_b item-list">
            <% last_activities_for_user(@user).each do |activity| %>
            <li><i class="splashy-document_letter_edit sepV_b"></i><%=Kernel.const_get(activity.item_type).model_name.human(count: 2) %>: <a href="#"><%=activity_event(activity.event)%> (código <%= activity.item_id %>)</a> em <a href="#"><%=l activity.created_at %></a></li>
            <% end -%>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
